// ===主题色(蓝)
$theme_color: #399EF6;
// ===辅色(橙色)
$theme_fu_org: #EF9A1A;
// ===辅色(蓝色)
$theme_fu_bule: #4488eb;
// ===辅色(深灰1)
$theme_gray333: #333;
// ===辅色(深灰2)
$theme_gray666: #666;
// ===辅色(灰1)
$theme_gray999: #999;
// ===辅色(展位提示)
$theme_graybbb: #bbb;
// ===辅色(边框)
$theme_grayddd: #ddd;
// ===辅色(用于背景色)
$theme_grayf0: #F1F1F1;
