@charset "UTF-8";

.fs-36 {
  font-size: 0.36rem !important;
}

.fs-38 {
  font-size: 0.38rem !important;
}

.fs-40 {
  font-size: 0.4rem !important;
}

.fs-42 {
  font-size: 0.42rem !important;
}

.fs-44 {
  font-size: 0.44rem !important;
}

.mt-30 {
  margin-top: 0.3rem;
}

.ml-30 {
  margin-left: 0.3rem;
}

.mr-45 {
  margin-right: 0.45rem;
}

.mt-50 {
  margin-top: 0.5rem;
}

.mt-144 {
  margin-top: 1.44rem;
}

.flex-1 {
  flex: 1;
}
button{
    -webkit-user-modify: read-only !important;
}

/* 页面背景色 */
.bg-F5F5F5 {
  background-color: #F5F5F5;
}

/* 箭头符号 */
.angle-left, .angle-right {
  width: 0.45rem;
  height: 0.45rem;
  background: url("../../image/personCenter/back.png") no-repeat center;
  background-size: contain;
}

.angle-right {
/*   transform: rotate(180deg); */
  margin-top: 0.1rem;
}

/* 分割线 */
.pc-hr {
  display: block;
  height: 0.24rem;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  background-color: #F2F2F2;
}

/* 我的-个人资料 */
.my-list {
  padding-left: 0.45rem;
  background-color: #fff;
}
.my-list > div {
  height: 1.35rem;
  border-top: 0.01rem solid #E6E6E6;
  color: #666666;
  line-height: 1.35rem;
  display: flex;
  align-items: center;
}
.my-list > div span {
  display: block;
  font-size: 0.36rem;
  flex: 1;
}
.my-list > div:first-child {
  border-top: none;
}
.my-list i {
  display: block;
  margin-right: 0.3rem;
}
.my-list .icon01 { 
  width: 0.6rem;
  height: 0.54rem;
  background: url("../../image/me/my_list-icon01.png") no-repeat center;
  background-size: contain;
}
.my-list .icon02 {
  width: 0.6rem;
  height: 0.45rem;
  background: url("../../image/me/my_list-icon02.png") no-repeat center;
  background-size: contain;
}
.my-list .icon03 {
  width: 0.44rem;
  height: 0.6rem;
  background: url("../../image/me/my_list-icon03.png") no-repeat center;
  background-size: contain;
}
.my-list .icon04 {
  width: 0.55rem;
  height: 0.6rem;
  background: url("../../image/me/my_list-icon04.png") no-repeat center;
  background-size: contain;
} 
.pc-btn {
  width: 10.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.42rem;
  background-color: #fff;
  border-radius: 0.12rem;
  border: 1px solid #3c88cc;
  color: #3c88cc;
  margin: 0 auto;
  position: fixed;
  bottom: 0.3rem;
  left: 0.3rem;
}
.pc-btn:hover {
  background-color: #f2f2f2;
  transition: all .2s ease-in;
}

/* 我的-账户余额 */
.my-balance-c1 {
  padding: 0.85rem 0;
  color: #333;
  background-color: #fff;
  border-bottom: 0.01rem solid #DEDEDE;
  font-size: 0.42rem;
}
.my-balance-c1 span {
  display: block;
  font-size: 0.58rem;
}

.my-balance-c2 {
  padding: 0.5rem 0;
}
.my-balance-c2 span {
  padding: 0 0.3rem;
  color: #333;
  font-size: 0.42rem;
}
.my-balance-c2 i {
  width: 1.56rem; 
  border-bottom:1px solid #333;
}

.my-balance-c3 {
  margin-top: -0.025rem;
}
.my-balance-c3 li {
  padding: 0.275rem 0.32rem;
}
.my-balance-c3 li span {
  font-size: 0.42rem;
}
.my-balance-c3 li span:first-child {
  font-size: 0.36rem;
}

/* 我的-积分明细 */
.my-integral-details {
  padding: 0.45rem 0.3rem;
}
.my-integral-details span:first-child {
  color: #FF7A0E;
}
/* .my-integral-details:hover {
  background-color: #f2f2f2;
  transition: all .2s ease-in;
} */

.my-integral-list {
  padding: 0 0.3rem;
}
.my-integral-list > span {
  display: block;
  padding: 0.36rem 0;
}
.my-integral-list ul {
  padding-top: 0.12rem;
}
.my-integral-list ul li {
  margin-bottom: 0.36rem;
}
.my-integral-list ul span {
  font-size: 0.42rem;
}

/* 我的-常用联系人 */
/* .my-common-contracts > div {
  padding: 0.3rem;
  border-bottom: 0.01rem solid #F2F2F2;
}
.my-common-contracts > div span {
  color: #999999;
} */
.my-common-contracts .icon01 {
  width: 0.6rem;
  height: 0.6rem;
  background: url("../../image/me/my-common-contacts01.png") no-repeat center;
  background-size: contain;
}
.my-common-contracts .icon05 {
  width: 0.6rem;
  height: 0.6rem;
  background: url("../../image/me/my-common-contacts05.png") no-repeat center;
  background-size: contain;
}
.my-common-contracts li {
  border-bottom: 0.01rem solid #F2F2F2;
  position: relative;
 /*  text-indent: 20px; */
  margin-top: 10px;
}
.my-common-contracts li > span:nth-child(2) {
  margin-right: 0.9rem;
}
.my-common-contracts li > span:first-child {
  margin-right: 0.4rem;
}
.my-common-contracts li > span:first-child.active {
  display: flex;
}
.my-common-contracts .icon02 {
  width: 0.48rem;
  height: 0.48rem;
  background: url("../../image/me/my-common-contacts02.png") no-repeat center;
  background-size: contain;
}

/* 我的-使用指南 */
.my-use-guide {
  padding: 0 0.2rem;
  margin-top: 0.3rem;
}
.my-use-guide > span {
  margin: 0.3rem 0;
}
.my-use-guide ul li {
  margin-top: 0.2rem;
}
.my-use-guide ul li span {
  font-size: 0.42rem;
}
.my-use-guide ul li p {
  line-height: 0.5rem;
  font-size: 0.4rem;
}

/* 我的-业务规则 */
.my-service-rule ul {
  padding: 0 0.3rem;
}
.my-service-rule li {
  padding: 0.38rem 0;
  border-bottom: 1px solid #EDEDED;
}
.my-service-rule span {
  font-size: 0.42rem;
  color: #333;
  flex: 1;
}

/* 我的-业务规则详情 */
.my-service-rule-details {
  margin-top: 0.3rem;
}
.my-service-rule-details p {
  padding: 0  0.3rem;
  font-size: 0.42rem;
}

.remove-btn {
  width: 10.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.42rem;
  background-color: #FFB017;
  border-radius: 0.12rem;
  color: #fff;
  margin: 0 auto;
  /* position: fixed; */
  margin-top: 0.6rem;
  left: 0.3rem;
}
.remove-btn:hover {
  background-color: #FFB017;
  transition: all .2s ease-in;
}

/* 选择车型 */
.choice-car-model li {
  margin-top: 0.2rem;
  padding: 0.6rem 0.35rem;
  background-color: #ffffff;
}
.choice-car-model i {
  width: 3.07rem;
  height: 1.74rem;
  margin-right: 1rem;
  overflow: hidden;
}
.choice-car-model i img {
  width: 100%;
  height: 100%;
}
.choice-car-model span {
  margin-bottom: 0.3rem;
  font-size: 0.38rem;
}
.choice-car-model b {
  font-weight: normal;
  color: #808080;
  font-size: 0.3rem;
}

/* 优惠活动 */
.discount-activity {
  padding: 0.15rem;
}
.discount-activity li {
  padding: 0.15rem;
  overflow: hidden;
  border-radius: 0.2rem;
}
.discount-activity li img {
  width: 100%;
  height: 100%;
}

/* 意见反馈 */
.my-view-feedback textarea {
  min-height: 5.6rem;
  width: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
  font-size: 0.42rem;
  resize: none;
}
.my-view-feedback textarea::-webkit-input-placeholder {
  color: #999999;
}

/* 开票信息 */
.title-sty {
  font-size: 0.42rem;
  color: #333;
  display: block;
  padding: 0.37rem 0.31rem;
}

.invoice-submit-t1 div {
  padding: 0.28rem 0;
}
.invoice-submit-t1 div span {
  display: block;
  width: 4.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.42rem;
  background-color: #fff;
  border-radius: 0.1rem;
  border: 1px solid #333;
  color: #333;
  margin: 0 auto;
}
.invoice-submit-t1 div span.active, .invoice-submit-t1 div span:hover {
  color: #3c88cc;
  border-color: #3c88cc;
  transition: all .2s ease-in;
}

.invoice-submit-t2 > div {
  padding: 0 0.31rem;
  height: 1.18rem;
  font-size: 0.42rem;
  color: #333;
}
.invoice-submit-t2 > div > span {
  display: block;
  width: 1.67rem;
  margin-right: 0.82rem;
}
.invoice-submit-t2 > div > input {
  height: 1rem;
}
.invoice-submit-t2 > div > label {
  margin-right: 0.71rem;
}
.invoice-submit-t2 > div > label span {
  margin-right: 0.17rem;
}
.invoice-submit-t2 article {
  padding: 0 0.31rem;
}
.invoice-submit-t2 article > div:first-child {
  height: 1.18rem;
  font-size: 0.42rem;
  color: #333;
}
.invoice-submit-t2 article > div:last-child {
  padding-bottom: 0.31rem;
}
.invoice-submit-t2 article > div:last-child input {
  height: 1rem;
}

/* .right-icon {
  width: 0.25rem;
  height: 0.45rem;
  background: url("../../image/me/right-icon.png") no-repeat center;
  background-size: contain;
} */

/* pc-checkbox：单选、复选框 */
.pc-checkbox {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 0.45rem; 
  border: 1px solid #3c88cc;
}
.pc-checkbox input {
  -webkit-appearance: none;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
  transition: all .1s ease-in-out;
}
.pc-checkbox input:checked {
  background-color: #3c88cc;
}  

.in-checkbox input[type="checkbox"]{
  position: relative;
  height: 0.8rem;
  width: 0.8rem;
  outline: none;
  -webkit-appearance: none;
  border-radius:0 ;
}
.in-checkbox input[type="checkbox"]:before {
  background-image: url("../../image/orderCenter/check_unchose.png");
  background-size:cover;
  position: absolute;
    left: 0.1rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    content: "";
    display: inline-block;
    box-sizing:border-box;
    vertical-align: middle;
    /*transition:background ease-in .5s;*/
    /*-webkit-transition:background ease-in .5s;*/
/*     border-radius: 50%; */
    float: left;
}
.in-checkbox input[type="checkbox"]:checked:before{
    background-image: url("../../image/orderCenter/check_chosed.png");
    position: absolute;
    left: 0.1rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    background-size:cover;
    content: "";
    display: inline-block;
    box-sizing:border-box;
    /*transition:background ease-in .5s;*/
    /*-webkit-transition:background ease-in .5s;*/
    vertical-align: middle;
    /* border-radius: 50%; */
    float: left;
}

.pc-hide {
  display: none;
}

/* 新增-常用该联系人 */
.add-common-contacts div {
  height: 1.5rem;
  padding-left: 0.3rem;
}
.add-common-contacts span {
  min-width: 1.68rem;
  font-size: 0.42rem;
  color: #333;
}
.add-common-contacts input {
  height: 0.8rem;
  padding: 0.2rem 0.67rem;
  outline: none;
  font-size: 0.36rem;
}
.add-common-contacts input::-webkit-input-placeholder {
  color: #999999;
}
.words{height:1.2rem;margin-top: 5px}
/*# sourceMappingURL=my.css.map */
