body{
    margin:0;
    color: #404040;
}
/* 头部banner */
.return{
    position:absolute;
    top:20px;
    left:0;
    display:inline-block;
    width:100px;
    height:100px;
    background:url('~assets/imgs/custom/back.png') no-repeat center center/24px 41px ;
}
.title{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:inline-block;
    font:bold 40px/48px "";
    color:#fff;
}
.recommend{
    position:absolute;
    bottom:60px;
    left:50%;
    transform: translateX(-50%);
    display:block;
    height:50px;
    text-align:center;
    font:bold 38px/50px "";
    color:#fff;
}
/* 中间内容 */
.ct{
    width:100%;
    padding:14px 32px;
    position:relative; 
    padding-bottom:120px;
    background:#fff;
}
.ct_title{
    font:32px/60px "";
    color:#000000;
    margin-top:20px;
}
.paragraph{
    font:26px/44px "";
    color:#404040;
    padding-bottom:30px;
    border-bottom:2px solid #e6eaec;
    margin-bottom:18px;
    text-align: justify;
}
.date{
    margin-left:24px;
    padding-left:34px;
    border-left:2px solid #e5eaeb;
}
.day1,.day2,.day3,.day4,.day5,.day6,.day7,.day8,.day9,.day10,.day11,.day12,.day13,.day14,.day15{
    position:relative;
    margin-bottom:50px;
}
.day1:before,.day2:before,.day3:before,.day4:before,.day5:before,.day6:before,.day7:before,.day8:before,.day9:before,.day10:before,.day11:before,.day12:before,.day13:before,.day14:before,.day15:before{
    text-align:center;
    color:#fff;
    font:bold 20px/50px "";
    position:absolute;
    top:0;
    left:-35px;
    padding: 0 10px;
    transform: translate(-50%);
    height:50px;
    background:url('~assets/imgs/custom/date.png') no-repeat center center/50px 50px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.day1:before{
    content:'D1';
}
.day2:before{
    content:'D2';
}
.day3:before{
    content:'D3';
}
.day4:before{
    content:'D4';
}
.day5:before{
    content:'D5';
}
.day6:before{
    content:'D6';
}
.day7:before{
    content:'D7';
}
.day8:before{
    content:'D8';
}
.day9:before{
    content:'D9';
}
.day10:before{
    content:'D10';
}
.day11:before{
    content:'D11';
}
.day12:before{
    content:'D12';
}
.day13:before{
    content:'D13';
}
.day14:before{
    content:'D14';
}
.day15:before{
    content:'D15';
}
.date_h6{
    font:bold 28px/40px "";
    margin: 10px 0;
}
.date_paragraph{
    font:26px/50px "";
    margin-top:10px;
    text-align:justify;
}

.ct_subTitle{
    font: 28px/40px "";
    color:#242424;
    margin:20px 0;
}

/* 底部定位按钮 */
.btn_container{
    width:750px;
    height:100px;
    position:fixed;
    bottom:0;
    background:#fff;
}
.btn_container a{
    width:375px;
    display:inline-block;
    height:100px;
    box-sizing:border-box;
    text-align:center;
}
.btn_online{
    color:#5e5e5e !important;
    background:rgb(243, 243, 243);
    font:32px/100px "";
}
.btn_custom{
    background:#ef9a1a; 
    color:#fff !important;
    font:32px/100px "";
}