.color-f2f2f2 {
  color: #f2f2f2;
}
.col-f2f2f2 {
  color: #f2f2f2;
}
.bg-f2f2f2 {
  background: #f2f2f2;
}
.color-white {
  color: white;
}
.col-white {
  color: white;
}
.bg-white {
  background: white;
}
.color-red {
  color: red;
}
.col-red {
  color: red;
}
.bg-red {
  background: red;
}
.color-cccccc {
  color: #cccccc;
}
.col-cccccc {
  color: #cccccc;
}
.bg-cccccc {
  background: #cccccc;
}
.color-989898 {
  color: #989898;
}
.col-989898 {
  color: #989898;
}
.bg-989898 {
  background: #989898;
}
.color-999999 {
  color: #999999;
}
.col-999999 {
  color: #999999;
}
.bg-999999 {
  background: #999999;
}
.color-00A0E9 {
  color: #00A0E9;
}
.col-00A0E9 {
  color: #00A0E9;
}
.bg-00A0E9 {
  background: #00A0E9;
}
.color-1398FF {
  color: #1398FF;
}
.col-1398FF {
  color: #1398FF;
}
.bg-1398FF {
  background: #1398FF;
}
.color-F4AE00 {
  color: #F4AE00;
}
.col-F4AE00 {
  color: #F4AE00;
}
.bg-F4AE00 {
  background: #F4AE00;
}
.color-666666 {
  color: #666666;
}
.col-666666 {
  color: #666666;
}
.bg-666666 {
  background: #666666;
}
.color-666 {
  color: #666;
}
.col-666 {
  color: #666;
}
.bg-666 {
  background: #666;
}
.color-fff {
  color: #fff;
}
.col-fff {
  color: #fff;
}
.bg-fff {
  background: #fff;
}
.color-ccc {
  color: #ccc;
}
.col-ccc {
  color: #ccc;
}
.bg-ccc {
  background: #ccc;
}
.color-333 {
  color: #333;
}
.col-333 {
  color: #333;
}
.bg-333 {
  background: #333;
}
.color-808080 {
  color: #808080;
}
.col-808080 {
  color: #808080;
}
.bg-808080 {
  background: #808080;
}
.color-000 {
  color: #000;
}
.col-000 {
  color: #000;
}
.bg-000 {
  background: #000;
}
.color-FA852C {
  color: #FA852C;
}
.col-FA852C {
  color: #FA852C;
}
.bg-FA852C {
  background: #FA852C;
}
.color-999 {
  color: #999;
}
.col-999 {
  color: #999;
}
.bg-999 {
  background: #999;
}
.color-AA852C {
  color: #AA852C;
}
.col-AA852C {
  color: #AA852C;
}
.bg-AA852C {
  background: #AA852C;
}
.color-FF7A0E {
  color: #FF7A0E;
}
.col-FF7A0E {
  color: #FF7A0E;
}
.bg-FF7A0E {
  background: #FF7A0E;
}
.color-b3b3b3 {
  color: #b3b3b3;
}
.col-b3b3b3 {
  color: #b3b3b3;
}
.bg-b3b3b3 {
  background: #b3b3b3;
}
.color-1296db {
  color: #1296db;
}
.col-1296db {
  color: #1296db;
}
.bg-1296db {
  background: #1296db;
}
.color-E6E6E6 {
  color: #E6E6E6;
}
.col-E6E6E6 {
  color: #E6E6E6;
}
.bg-E6E6E6 {
  background: #E6E6E6;
}
.color-FF4400 {
  color: #FF4400;
}
.col-FF4400 {
  color: #FF4400;
}
.bg-FF4400 {
  background: #FF4400;
}
.color-b3b3b3 {
  color: #b3b3b3;
}
.col-b3b3b3 {
  color: #b3b3b3;
}
.bg-b3b3b3 {
  background: #b3b3b3;
}
.color-ffb11b {
  color: #ffb11b;
}
.col-ffb11b {
  color: #ffb11b;
}
.bg-ffb11b {
  background: #ffb11b;
}
.color-f95971 {
  color: #f95971;
}
.col-f95971 {
  color: #f95971;
}
.bg-f95971 {
  background: #f95971;
}
.color-f17c67 {
  color: #f17c67;
}
.col-f17c67 {
  color: #f17c67;
}
.bg-f17c67 {
  background: #f17c67;
}
.color-f0f0f0 {
  color: #f0f0f0;
}
.col-f0f0f0 {
  color: #f0f0f0;
}
.bg-f0f0f0 {
  background: #f0f0f0;
}
.color-e6e6e6 {
  color: #e6e6e6;
}
.col-e6e6e6 {
  color: #e6e6e6;
}
.bg-e6e6e6 {
  background: #e6e6e6;
}
.color-FEA802 {
  color: #FEA802;
}
.col-FEA802 {
  color: #FEA802;
}
.bg-FEA802 {
  background: #FEA802;
}
