/*自动换行*/
.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.j-top {
  justify-content: flex-start;
}

/*子元素居右*/
.j-right {
  justify-content: flex-end;
}

/*内容两边对其*/
.cont-rl {
  justify-content: space-between;
}

/*子元素对其方式*/
/*左右居中*/
.j-center {
  justify-content: center;
}

/*上下居中*/
.cont-center {
  align-items: center;
}

/*上对其*/
.cont-flex-start {
  align-items: flex-start;
}

/*下对其*/
.cont-flex-end {
  align-items: flex-end;
}

/*文字基线对其*/
.cont-baseline {
  align-items: baseline;
}

/*横向布局*/

.row {
  flex-direction: row;
  display: flex;
}

/*垂直布局*/
.column {
  flex-direction: column;
}

/*size8 - 46*/
// $ss: 0;
// .size(30);
// .size($n) when ($n>0){
//   $ss:($n * 2) + 6;
//   .size-{$ss}{
//     font-size: ((( $n * 2 ) + 6)*1rem)/100 !important;
//   }
//   .size((@n - 1));
// }
/*缩放*/
/*flex1-10*/
// .flex_fn(10);
// .flex_fn($n) when ($n>0){
//   .flex-{$n}{
//     flex: $n;
//   }
//   .flex_fn(($n - 1));
// }
// /*transform: scale(0.1-1)*/
// .scale(1);
// .scale($n) when ($n<=20){
//   .scale-{$n}{
//     transform: scale($n/10) !important;
//   }
//   .scale(($n+1));
// }
