// index.scss 只引入公共样式。这些样式会在全局生效
@import './reset';
@import './consts';
@import './normal'; // 通用样式，可直接在行内使用的类名
@import './tours';
@import './animate';
@import './animate_vue';

// vue编译结束前不显示带v-cloak的标签
[v-cloak] {
    display: none !important;
}

// 内部全是float元素的容器，解决容器没有宽高的问题
.f-content {

    &:after,
    &:before {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

// 行高
.no-highlight {
    outline: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

// 手型
.hand {
    cursor: pointer;
}

// 禁止选中
.user-select-none {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// \n生效
.next-line {
    white-space: pre-line;
}

// 不换行(单行)
.no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 不换行(双行)
.no-wrap-line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// 不换行(双行)兼容火狐谷歌
.imitate-ellipsis2 {
    position: relative;
    line-height: 1.4em;
    height: 2.6em;
    overflow: hidden;
}

.imitate-ellipsis2::after {
    content: "...";
    position: absolute;

}

// 不换行(三行)
.no-wrap-line3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

// 扩展点击区域
.extend-click {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}



// 滚动条样式（pc用得多点）
//::-webkit-scrollbar {
//  width: 10px;
//  height: 10px;
//}
//
//::-webkit-scrollbar-track {
//  background-color: rgba(0, 0, 0, 0);
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: #40BA83;
//  border-radius: 3px;
//}
//
//::-webkit-scrollbar-thumb:hover {
//  background-color: mix(#40BA83, #fff, 80%);
//}
//::-webkit-scrollbar-thumb:active {
//  background-color: #40BA83;
//}

/*********************** 其它样式修改 ***********************/

// 1.UC上有一个插件，导致页面显示不完全，出现了滚动条，把它干掉，
#trans-tooltip,
#tip-arrow-bottom,
#tip-arrow-top {
    display: none;
}

.container {
    background: #F1F1F1;
}

[class^="self-btn-"] {
    font-size: 32px !important;
    font-weight: 400;
    border-radius: 8px !important;
}


//.page-enter-active {
//  transition: all .3s;
//}
//
//.page-enter {
//  transform: translate3d(100%, 0, 0)
//}

// ios头部处理
.layout-header {
    margin-top: env(safe-area-inset-top)
}

//确认订单页面覆盖样式
.radioitem .van-radio__label {
    display: initial !important;
}

.swiper-pagination-bullet {
    margin: 0 10px;
}

.tours-input-no-bg .van-cell .van-field__control {
    color: #323233;
    font-size: 30px;
}

.union-page-container {
    background: #F5F4F9;
    min-height: 100vh;
}

.union-btn-submit {
    width: 464px;
    height: 80px;
    background: linear-gradient(180deg, rgba(253, 141, 103, 1) 0%, rgba(245, 41, 30, 1) 100%);
    box-shadow: 0px 6px 12px rgba(0, 43, 100, 0.16);
    border-radius: 12px;
    font-size: 32px;
    line-height: 80px;
    color: #fff;
    margin: 50px auto;
    text-align: center;

    &:active {
        opacity: 0.8;
    }
}

.union-btn-disable {
    width: 464px;
    height: 80px;
    background: #D1D1D1;
    box-shadow: 0px 6px 12px rgba(0, 43, 100, 0.16);
    border-radius: 12px;
    font-size: 32px;
    line-height: 80px;
    color: #fff;
    margin: 50px auto;
    text-align: center;
}

.containerxxx .tab .van-tabs__line {
    background-color: rgba(0, 0, 0, 0) !important;
}

.containerxxx .tab .van-tab--active {
    font-weight: 500;
    color: #EF9A1A !important;
}

.checkitem .van-stepper__plus::before,
.van-stepper__plus::after {
    background-color: #4BB1F5 !important;
}

.checkitem .van-stepper__minus::before {
    background-color: #4BB1F5 !important;
}

.checkitem .van-stepper__plus--disabled::before,
.van-stepper__plus--disabled::after {
    background-color: #6f6f6f !important;
}

.checkitem .van-stepper__minus--disabled::before {
    background-color: #6f6f6f !important;
}




.notzero .van-stepper__input {
    background-color: #4BB1F5 !important;
    color: #fff !important;
}

.notzero .van-stepper__input[disabled],
.notzero .van-stepper__input:disabled {
    border: 1px solid #4BB1F5 !important;
    background-color: #4BB1F5 !important;
    color: #fff !important;
}

.else.van-stepper__input {
    background-color: #dcdcdc !important;
    color: #434343 !important;
}

#newBridge {
    //display: none !important;
}

//#mini_chat{
//  display: none !important;
//}
//.show-kf {
//  #mini_chat{
//    display: inherit !important;
//  }
//}

.van-nav-bar .van-icon {
    color: #404040 !important;
    font-size: 32px !important;
}

.van-icon-circle {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(200, 200, 200, 1);
    opacity: 1;
    border-radius: 4px;
}

.van-icon-circle:before {
    content: "" !important;
}

.van-radio .van-icon-checked {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 4px;
    background-color: #1989fa;
}

.van-radio .van-icon-checked:before {
    content: "\F0AF";
    color: #fff;
}

.van-checkbox__icon--round .van-icon {
    border-radius: 20% !important;
}

.van-nav-bar {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
}
.nuxt-progress{
    background-color: #398bf6 !important;
}

.cb-border-t{
    position: relative;
    &:after {
          content: ' ';
          width: 200%;
          height: 200%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: inherit;
          transform: scale(0.5);
          transform-origin: 0 0;
          pointer-events: none;
          border-bottom: 1px solid #D9D9D9;
        }
}
.cb-border-b{
    position: relative;
    &:after {
          content: ' ';
          width: 200%;
          height: 200%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: inherit;
          transform: scale(0.5);
          transform-origin: 0 0;
          pointer-events: none;
          border-bottom: 1px solid #D9D9D9;
          display: block!important;
        }
}
