// normal.scss用于存放通用样式, 能方法生成就方法生成。
/* 字体大小 font-size: 10,12,14,16,18... */
$font-size: (10, 12, 14, 16, 18, 20, 22, 24, 28, 30, 32, 34, 36, 40, 48);

@mixin font-size {
  @each $value in $font-size {
    .fs-#{$value} {
      font-size: $value+px;
    }
  }
}

@include font-size;

/* 字体粗细 font-weight: 100-900 */
$font-weight: (400, 700, 100, 200, 300, 500, 600, 800, 900);

@mixin font-weight {
  @each $value in $font-weight {
    .fw-#{$value} {
      font-weight: $value;
    }
  }
}

@include font-weight;

/* 圆角 border-radius 0-12 */
$border-radius: (0, 2, 4, 6, 8, 10, 12, 14);

@mixin border-radius {
  @each $value in $border-radius {
    .b-r-#{$value} {
      border-radius: $value+px;
    }
  }
}

@include border-radius;

.b-r-full {
  border-radius: 100%;
}

/* 外边距 margin */

$margin-top: (0, 2, 5, 10, 15, 20, 26, 30, 50);

@mixin margin-top {
  @each $value in $margin-top {
    .m-t-#{$value} {
      margin-top: $value+px;
    }
  }
}

@include margin-top;

.no-margin {
  margin: 0;
}

/* 外边距 padding */

$padding-top: (0, 2, 5, 10, 15, 20, 26, 30, 50);

@mixin padding-top {
  @each $value in $padding-top {
    .p-t-#{$value} {
      padding-top: $value+px;
    }
  }
}

@include padding-top;

.no-padding {
  margin: 0;
}

/* 行高 line-height */

$line-height: (0, 1.2, 1.5, 10, 15, 20, 26, 30, 50);

@mixin line-height {
  @each $value in $line-height {
    .l-h-#{$value} {
      line-height: $value;
    }
  }
}

@include line-height;

// display
.block {
  display: block !important;
}

.hide {
  display: none !important;
}

.inline {
  display: inline-block !important;
}

// 居中
.text-center {
  text-align: center !important;
}

// vertical-align
.v-middle {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top !important;
}

.v-bottom {
  vertical-align: bottom !important;
}

// 定位
.pos-rlt {
  position: relative;
}

.pos-stc {
  position: static !important;
}

.pos-abt {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

// 宽度
.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

// letter-spacing间距
.l-s-1x {
  letter-spacing: 1;
}

.l-s-2x {
  letter-spacing: 2;
}

.l-s-3x {
  letter-spacing: 3;
}

// color
.text-primary {
  color: #27c24c;
}

.text-warning {
  color: #f70 !important;
}

.text-error {
  color: #D50000 !important;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #aaa;
}

.text-muted {
  color: #999;
}

.text-desc {
  color: #666666;
}

.text-color {
  color: #333;
}

.text-black {
  color: #000;
}

/* 背景色 background */
.bg-gray {
  background: #f8f9fa !important;
}

.bg-transparent {
  background: transparent !important;
}
