// tours.scss 用于覆盖使用的vant的UI样式，定制公司自己的一套样式规范
.tours-tabs {
  .van-tabs__line {
    background-color: #399EF6;

  }

  .van-tabs__wrap {
    left: 32px;
    border-bottom: 2px solid #E4E4E4;
  }

  .van-hairline--top-bottom::after {
    border-width: 0 !important;
  }
}

.tours-tabs-nowrap {
  .van-tabs__line {
    background-color: #399EF6;
  }

  .van-hairline--top-bottom::after {
    border-width: 0 !important;
  }
}

// 去掉border-bottom（van-hairline--bottom）
.tours-no-bb {
  &.van-hairline--bottom::after {
    border-bottom-width: 0px !important;
  }
}

.tours-input {

  &.van-cell,
  .van-field {
    padding: 15px 20px;
    height: 80px;
    border: 2px solid rgba(196, 196, 196, 1) !important;
    border-radius: 10px;
  }

  &.van-field .van-cell__title {
    text-align: left;
    max-width: 100px;
  }
}

.tours-button {
  &.van-button--default {
    height: 84px;
    line-height: 84px;
    background: #399EF6 !important;
    color: #fff;
    border-radius: 10px;
  }
}

.tours-button-noborder {
  &.van-button--default {
    height: 84px;
    line-height: 84px;
    color: #399EF6;
    border: 0;
    border-radius: 10px;
  }
}
