*,
*:before,
*:after {
    box-sizing: border-box;
}
p,span,h1,h2,h3,h4,h5,h6,tr,th,td,dt,dd,div {
    word-wrap: break-word;/* 自动换行 */
    /*user-select: none;*/ /* 禁用长按复制 */
    margin: 0;
    padding: 0;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    font-size: 100px;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, "San Francisco", "Helvetica Neue", Helvetica, "Droid Sans", Arial, "PingFang SC", "Droid Sans Fallback", sans-serif;
    line-height: 1.42857143;
    color: #212121;
    background-color: #f4f4f4;
    -webkit-text-size-adjust: 100%; /*关闭字体大小自动调整功能*/
    -webkit-font-smoothing: antialiased; /*控制的字体渲染只对MacOS的Webkit有效*/
    height: 100%;
    font-size: 0.12rem;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}
button{
    border: 0;
}
a,
a:hover,
a:focus,
a:visited {
    color: #2db7f5;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
em,i{
    font-style: normal;
}
::-webkit-scrollbar {
    width: 0;
    opacity: 0
}

::-webkit-scrollbar-track {
    background: rgba(255,255,0,0);
    opacity: 0
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,0,0);
    opacity: 0
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,0,0);
    opacity: 0
}
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.clearfix{
    zoom: 1;
}
.clearfix>*{
    float: left;
}
.clearfix:before, .clearfix:after{
    content: '';
    clear: both;
    display: block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
ul{
    list-style: none;
    margin: 0;
}
.boxShad{
    box-shadow: 0 5px 10px #ccc;
}
.ellipsisCol {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#mobile_icon_div>div {
    height: 1.1rem !important;
    width: 1.1rem !important;
    text-align: center !important;
    left: 82% !important;
    padding: 0.1rem !important;
}
#nb_icon_wrap {
    display: none !important;
}
#nb_invite_wrap {
    display: none !important;
}
